@charset "UTF-8";

.board-title {
    margin-bottom: 20px;
}

.write-area {
    display: flex;
    justify-content: flex-end;
    /* text-align: right; */
    margin-bottom: 20px;
}

.board-table { width: 100%; border-collapse: collapse; margin-top: 20px; }

.board-table th, .board-table td { border: 1px solid #ddd; padding: 10px; text-align: center; }

.board-table th { background-color: #f4f4f4; }

.paging { text-align: center; margin-top: 20px; }

.paging a { text-decoration: none; color: black; margin: 0 5px; }

.current-page { font-weight: bold; color: red; text-decoration: underline; }