@charset "UTF-8";

.cs-section { padding:40px; font-family: Arial; }
.cs-section h1 { border-bottom:2px solid black; padding-bottom:10px; }
.cs-section button {
    padding:10px 20px;
    background-color:black;
    color:white;
    border:none;
    cursor:pointer;
}
.cs-section button:hover { background-color:red; }